In [18]:
import pandas as pd
from pathlib import Path
import re
import string
import nltk

from nltk.sentiment import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

tweets_df = pd.read_csv(
    Path('twitter_training.csv')
)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\magey\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [19]:
tweets_df = tweets_df.rename({'Positive':'sentiment', 'im getting on borderlands and i will murder you all ,':'tweets'}, axis='columns').drop(columns=['2401','Borderlands'])
tweets_df.head(10)

  sentiment                                             tweets
0  Positive  I am coming to the borders and I will kill you...
1  Positive  im getting on borderlands and i will kill you ...
2  Positive  im coming on borderlands and i will murder you...
3  Positive  im getting on borderlands 2 and i will murder ...
4  Positive  im getting into borderlands and i can murder y...
5  Positive  So I spent a few hours making something for fu...
6  Positive  So I spent a couple of hours doing something f...
7  Positive  So I spent a few hours doing something for fun...
8  Positive  So I spent a few hours making something for fu...
9  Positive  2010 So I spent a few hours making something f...

In [20]:
tweets_df = tweets_df.query("sentiment != 'Irrelevant'")
tweets_df.head()

  sentiment                                             tweets
0  Positive  I am coming to the borders and I will kill you...
1  Positive  im getting on borderlands and i will kill you ...
2  Positive  im coming on borderlands and i will murder you...
3  Positive  im getting on borderlands 2 and i will murder ...
4  Positive  im getting into borderlands and i can murder y...

In [21]:
sentiment_ordering = ['Negative', 'Neutral', 'Positive']
tweets_df['sentiment'] = tweets_df['sentiment'].apply(lambda x: sentiment_ordering.index(x))
tweets_df.head()

   sentiment                                             tweets
0          2  I am coming to the borders and I will kill you...
1          2  im getting on borderlands and i will kill you ...
2          2  im coming on borderlands and i will murder you...
3          2  im getting on borderlands 2 and i will murder ...
4          2  im getting into borderlands and i can murder y...

In [22]:
tweets_df = tweets_df.dropna()
sia = SentimentIntensityAnalyzer()
tweets_df['scores'] = tweets_df['tweets'].apply(lambda x: sia.polarity_scores(x)['compound'])
tweets_df.head()

   sentiment                                             tweets  scores
0          2  I am coming to the borders and I will kill you... -0.6908
1          2  im getting on borderlands and i will kill you ... -0.6908
2          2  im coming on borderlands and i will murder you... -0.6908
3          2  im getting on borderlands 2 and i will murder ... -0.6908
4          2  im getting into borderlands and i can murder y... -0.6908

In [35]:
tweets_df['est_sentiment'] = tweets_df['scores'].apply(lambda x: 'positive' if x > 0.25 else 'negative' if x < -0.25 else 'neutral')
tweets_df.head(30)

,sentiment,tweets,scores,est_sentiment
0,2,I am coming to the borders and I will kill you...,-0.6908,negative
1,2,im getting on borderlands and i will kill you ...,-0.6908,negative
2,2,im coming on borderlands and i will murder you...,-0.6908,negative
3,2,im getting on borderlands 2 and i will murder ...,-0.6908,negative
4,2,im getting into borderlands and i can murder y...,-0.6908,negative
5,2,So I spent a few hours making something for fu...,0.9431,positive
6,2,So I spent a couple of hours doing something f...,0.9273,positive
7,2,So I spent a few hours doing something for fun...,0.4206,positive
8,2,So I spent a few hours making something for fu...,0.9431,positive
9,2,2010 So I spent a few hours making something f...,0.9431,positive
10,2,was,0.0000,neutral
11,1,"Rock-Hard La Varlope, RARE & POWERFUL, HANDSOM...",0.8159,positive
12,1,"Rock-Hard La Varlope, RARE & POWERFUL, HANDSOM...",0.8159,positive
13,1,"Rock-Hard La Varlope, RARE & POWERFUL, HANDSOM...",0.8159,positive
14,1,"Rock-Hard La Vita, RARE BUT POWERFUL, HANDSOME...",0.9042,positive
15,1,"Live Rock - Hard music La la Varlope, RARE & t...",0.7944,positive
16,1,"I-Hard like me, RARE LONDON DE, HANDSOME 2011,...",0.7531,positive
17,2,that was the first borderlands session in a lo...,0.0076,neutral
18,2,this was the first Borderlands session in a lo...,-0.0183,neutral
19,2,that was the first borderlands session in a lo...,0.0076,neutral
20,2,that was the first borderlands session in a lo...,0.5130,positive
21,2,that I was the first real borderlands session ...,0.4271,positive
22,2,that was the first borderlands session in a ho...,-0.7939,negative
23,0,the biggest dissappoinment in my life came out...,-0.5423,negative
24,0,The biggest disappointment of my life came a y...,-0.5106,negative
25,0,The biggest disappointment of my life came a y...,-0.5106,negative
26,0,the biggest dissappoinment in my life coming o...,-0.5423,negative
27,0,For the biggest male dissappoinment in my life...,-0.5423,negative
28,0,the biggest dissappoinment in my life came bac...,-0.5423,negative
29,2,WE FINISHED BORDERLANDS 3 FINALLY YAS! Thank y...,0.7740,positive

In [62]:
from sklearn.feature_extraction.text import CountVectorizer #Convert text data to numerical vectors
from sklearn.model_selection import train_test_split #Split data into train and test
from sklearn.naive_bayes import MultinomialNB #model being used

In [25]:
vectorizer = CountVectorizer() #Initializing vectorizer 
vectors = vectorizer.fit_transform(tweets_df["tweets"]) #Converting words to vectors

In [63]:
X_train, X_test, Y_train, Y_test = train_test_split(vectors, tweets_df["est_sentiment"])

In [64]:
model = MultinomialNB()
model.fit(X_train, Y_train)

MultinomialNB()

In [65]:
y_pred = model.predict(X_test)

In [49]:
predictions = pd.DataFrame({'True': Y_test, 'Prediction': y_pred})
predictions.head(30)

           True Prediction
32118  negative   negative
21193  negative   negative
35485  negative   positive
68128  positive   positive
17466   neutral    neutral
47894  negative   negative
54042   neutral    neutral
48876  positive   positive
1065   negative   negative
66121  negative   negative
349    positive   positive
67584  negative   negative
45054  negative    neutral
25374   neutral    neutral
60073  negative   negative
53560  positive   positive
38584  positive   positive
15814   neutral    neutral
26086  positive   positive
53895  negative   negative
56280  negative   positive
68981   neutral    neutral
73260  negative   positive
1140    neutral   negative
713     neutral    neutral
17441  positive   positive
58173   neutral    neutral
41900  negative   negative
56636  positive   negative
22236  positive   positive

In [66]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test, y_pred)
print("Accuracy = ", accuracy)

Accuracy =  0.7489528795811519